/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

/**
* Install button from PWA CODELAB
**/
#butInstall {
  background: url(/images/install.svg)centercenterno-repeat;
  float: right;
  position: relative;
  z-index: 1;
  height: 60px;
  margin: 0 18px;
  width: 22px;
  border: none;
  opacity: 80%;
}

/**
* Styles for Site Layout
**/
.container {
  max-width: 100%;
}


@media only screen and (min-width: 993px) {
  .container {
    width: 75%;
  }
}

/**
* Your Website CSS Styles
**/
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6e9e9;
}

.nav-wrapper {
  background-color: #363333 !important;
}

.slider-text2 {
  color: #363333;
}

.myPicture {
  margin-left:auto;
  margin-right: auto;
  width: 90%;
}

.aboutMe {
  color: #e16428;
}

.myExperience-title{
  font-size: 50px;
  text-align: center;
  color: #e16428;
}

footer {
  background-color: #363333;
  height: 100px;
}

footer p {
  color: #7a7d7f;
  text-align: center;
}