/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f0ec;
}

/**
* Install button from PWA CODELAB
**/
#butInstall {
  background: url(/images/install.svg)centercenterno-repeat;
  float: right;
  position: relative;
  z-index: 1;
  height: 60px;
  margin: 0 18px;
  width: 22px;
  border: none;
  opacity: 80%;
}

/**
* Styles for Site Layout
**/
.container {
  max-width: 100%;
}

footer {
  background-color: #1a1a1a;
  height: 100px;
}
footer p {
  color: #7a7d7f;
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 75%;
  }
}

/**
* Your Website CSS Styles
**/

.nav-wrapper {
  background-color: #202020 !important;
}